.page {
    border-color: var(--green);
}

#light .page {
    border-color: var(--greenLightMode);
}

.pageContent {
    border-width: 0;
    padding: 0;
    margin: 0;
}

.pageTitle {
    flex: 0.3 0.3;
    border-width: 0;
    padding: 0;
    margin: 0;
}

.pageTitle h1 {
    text-align: right;
}

@media screen and (max-width: 980px) {
    .pageTitle h1 {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .pageTitle h1 {
        text-align: center;
    }
}