.content {
    border-width: 0;
    padding: 0;
    margin: 0;
}

.title {
    flex: 0.3 0.3;
    border-width: 0;
    padding: 0;
    margin: 0;
}

.title h1 {
    text-align: right;
}

@media screen and (max-width: 980px) {
    .title h1 {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .title h1 {
        text-align: center;
    }
}