#projectsContent h2 {
    text-align: center;
    background: none;
    color: var(--projectTitle);
    border-width: 0px;
    padding: 0px;
    margin: 6px;
}

#light #projectsContent h2 {
    color: var(--projectTitleLightMode);
}

.projectRow {
    margin: 6px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectRow a {
    font-size: 16pt;
}

@media screen and (max-width: 768px) {
    .projectRow {
        display: block;
    }
}