.project {
    justify-content: flex-end;
    border: 1px solid var(--cloudy);
    display: flex;
    flex-wrap: wrap;
    margin: 0px 3px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.125);
}

#light .project {
    background-color: rgba(120, 138, 143, 0.188);
}

.project p {
    height: 180px;
    overflow: scroll;
    border-radius: 0px;
    border-color: var(--cloudy);
    border-width: 1px 0px;
    margin: 0px;
    padding: 6px;
}

.project a {
    font-size: 24pt;
}

.project img {
    max-width: 100%;
    flex: 1 1;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    border-width: 1px 0px 0px 0px;
    border-color: var(--cloudy);
}

#light .project, #light .project p, #light .project img {
    border-color: var(--cloudyBorderLightMode);
}

.deployedProject {
    background-color: var(--pastelBlue);
    margin: 6px 3px 6px 6px;
    text-align: center;
    display: flex;
}

#light .deployedProject {
    background-color: var(--pastelBlue);
}

.deployedProject:hover {
    background-image: var(--blueGradient);
}

#light .deployedProject:hover {
    background-image: var(--blueGradientLightMode);
}

.github {
    background-color: var(--pastelGreen);
    margin: 6px 6px 6px 3px;
}

#light .github {
    background-color: var(--pastelGreen);
}

.github:hover {
    background-image: var(--greenGradient);
}

#light .github:hover {
    background-image: var(--greenGradientLightMode);
}

@media screen and (max-width: 768px) {
    .project {
        margin: 6px 3px;
        justify-content: center;
    }

    .project p {
        height: 120px;
    }

    .project a {
        font-size: 16pt;
    }
}

@media screen and (max-width: 296px) {
    .deployedProject {
        margin: 6px;
    }

    .github {
        margin: 0px 6px 6px 6px;
    }
}