* {
    border: 2px solid black;

    margin: 6px 3px;
    padding: 0px 3px;
    border-radius: 6px;

    /* text-align: center; */
    font-family: eurostile, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: black;
}

:root {
    /* Regular colors */
    --grey: rgb(32, 32, 40);
    --blue: rgb(0, 0, 64);
    --teal: rgb(0, 80, 80);
    --niceTeal: rgb(0, 96, 128);
    --green: rgb(0, 128, 64);
    --mint: rgb(0, 192, 96);
    --red: rgb(128, 0, 64);
    --nonPastelGreen: rgb(144, 223, 160);

    /* Pastel colors */
    --cloudy: rgba(255, 255, 255, 0.5);
    --pastelGreen: rgba(144, 223, 160, 0.75);
    --pastelBlue: rgba(128, 186, 255, 0.75);
    --pastelRed: rgba(223, 144, 174, 0.75);
    --pastelTeal: rgba(128, 206, 206, 0.75);
}

html {
    background: var(--grey);
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    border-color: var(--blue);
    margin: 6px;
}

header {
    border-color: var(--green);
}

section {
    border-color: var(--teal);
    display: flex;
}
/* 
@media screen and (max-width: 850px) {
    section {
        display: block;
    }
} */

footer {
    border-color: var(--green);
}

div {
    border-color: var(--niceTeal);
    flex: 1 1;
}

h1, h2, p, a, button, li {
    background-color: var(--cloudy);
    /* background-color: white; */
    padding: 3px;
}

a {
    text-decoration-line: none;
}

p, li {
    font-family: 'Times New Roman', Times, serif;
}

#categories, .employee {
    display: flex;
    flex: wrap;
    justify-content: space-around;
}

.employee li {
    flex: 1 1;
    text-align: center;
    list-style-type: none;
}

#categories {
    border-color: var(--green);
}

#categories p, #categories h2 {
    flex: 1 1;
    text-align: center;
}

ul {
    border-color: var(--teal);
}

.div h1 {
    text-align: center;
    background-color: var(--pastelGreen);
}

#header h1 {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#links, #view {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#view a {
    flex: 1 1;
    text-align: center;
    margin: 6px 3px 0px 3px;
}

#links a {
    flex: 1 1;
    text-align: center;
}
#links input {
    flex: 2 2;
}

#title a {
    flex: 1 1;
    text-align: center;
    background-color: var(--pastelBlue);
    margin: 6px 3px 0px 3px;
}

#root, #header, .div, #view {
    border-width: 0;
    margin: 0;
    padding: 0;
}