:root {
    --blue: rgb(0, 0, 64);
    --teal: rgb(0, 80, 80);
    --mint: rgb(0, 192, 96);
    --red: rgb(128, 0, 64);
    --nonPastelGreen: rgb(144, 223, 160);    
    --linkGradient: linear-gradient(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    --defaultColor: black;
    --visionCloudy: rgba(255, 255, 255, 0.5);
    --transparent: rgba(0, 0, 0, 0);
    --pastelGreen: rgba(144, 223, 160, 0.75);
    --pastelBlue: rgba(128, 186, 255, 0.75);
    --pastelRed: rgba(223, 144, 174, 0.75);
    --pastelTeal: rgba(128, 206, 206, 0.75);

    /* Dark Mode Colors */
    --grey: rgb(32, 32, 40);
    --cloudy: rgba(255, 255, 255, 0.5);
    --textColor: rgba(255, 255, 255, 0.75);
    --projectTitle: white;
    --blueGradient: linear-gradient(rgb(128, 186, 255), rgba(0, 0, 0, 0));
    --greenGradient: linear-gradient(rgb(144, 223, 160), rgba(0, 0, 0, 0));
    --niceTeal: rgb(0, 96, 128);
    --green: rgb(0, 128, 64);

    /* Light Mode Colors */
    --greyLightMode: rgb(241, 241, 247);
    --cloudyLightMode:rgba(0, 0, 0, 0.125);
    --cloudyBorderLightMode:rgba(0, 0, 0, 0.5);
    --textColorLightMode: rgba(0, 0, 0, 0.75);
    --projectTitleLightMode: black;
    --blueGradientLightMode: linear-gradient(rgb(191, 220, 255), rgba(0, 0, 0, 0));
    --greenGradientLightMode: linear-gradient(rgb(181, 250, 195), rgba(0, 0, 0, 0));
    --niceTealLightMode: rgb(0, 174, 232);
    --greenLightMode: rgb(0, 203, 101);
}

* {
    border: 1px solid var(--defaultColor);
    margin: 6px 3px;
    padding: 0px 3px;
    border-radius: 6px;
    font-family: eurostile, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: var(--defaultColor);
    overflow-wrap: break-word;
}

html {
    background: var(--grey);
    border: None;
    margin: 3px;
    padding: 0px;
}

#light {
    background: var(--greyLightMode);
}

body {
    border: None;
    margin: 0px;
    padding: 0px;
}

header, section, footer {
    border-radius: 12px;
}

section {
    display: flex;
}

div {
    border: None;
    margin: 0px;
    padding: 0px;
    flex: 1 1;
    align-items: center;
}

h1, h2 {
    padding: 3px;
}

h1 {
    font-size: 24pt;
    background-color: var(--pastelGreen);
    text-align: center;
}

h2 {
    font-size: 18pt;
}

p {
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: var(--textColor);
    padding: 0px;
}

#light p {
    color: var(--textColorLightMode);
}

a, button {
    background-color: var(--cloudy);
    padding: 3px;
}

#light a, #light button {
    background-color: var(--cloudyLightMode)
}

a {
    text-decoration-line: none;
    font-size: 18pt;
    text-align: center;
}

button {
    margin: 0px 3px 6px 3px;
}

/* Places a gradient image on link elements when they are hovered over with the cursor */
a:hover, button:hover {
    background-image: var(--linkGradient);
}

/* Organization of elements changes at varying screen widths */
@media screen and (max-width: 980px) {
    section {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    a {
        font-size: 16pt;
    }
}

@media screen and (max-width: 200px) {
    h1, h2 {
        font-size: 12vw;
    }
}